.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & fieldset {
      margin-bottom: 20px;
      width: 100%;
    }
    &__button {
      &:hover:enabled {
        background-color: #61dafb;
        transition: 0.25s;
      }
      &:not(:hover) {
        transition: 0.25s;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
    &__error {
      padding: 4px;
      line-height: 1.1;
      color: #721c24;
      background-color: #f8d7da;
      border: 1px solid #f5c6cb;
      border-radius: 2px;
      margin-top: 20px;
    }
  }