@import '../../style/utils.scss';

.header {
  @include flex(space-between, center);
  background-color: $colorDark;
  padding: 20px 40px;
  &__nav {
    &__ul {
      display: flex;
      &__li {
        padding-right: 30px;
        & a {
          text-decoration: none;
          color: white;
        }
        &_active {
          border-bottom: 3px solid $colorBlue;
        }
      }
    }
  }
}
