@import "node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize.scss";
@import "node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
  outline: none;
}

button {
  padding: 4px 12px;
  height: 32px;
  border: 0;
  border-radius: 2px;
  &:hover {
      outline: none;
  }
}