@import "node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize.scss";
@import "node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

* {
  box-sizing: border-box;
  outline: none;
}

button {
  padding: 4px 12px;
  height: 32px;
  border: 0;
  border-radius: 2px;
  &:hover {
      outline: none;
  }
}

input {
  width: 100%;
  border: 0;
  padding: 0 4px;
  transform: translate(0, -2px);
}

legend {
  font-size: 14px;
  transform: translate(0, -2px);
  margin: 0 4px;
}

fieldset {
  border: 1px solid #ebebee;
  border-radius: 2px;
  padding: 4px;
}